<div class="container">
  <div class="box">
    <div
      class="box-col"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="600"
      data-aos-offset="0"
    >
      <div class="h2">
        <h2>WHAT IS OUR PLAN?</h2>
        <div class="h2-line"></div>
      </div>
      <h3>The Real World is part of a 3-Step Plan</h3>
      <p>
        <strong>Step 1</strong> was creating
        <strong>Hustler's University</strong>: a money-making platform that
        thrived with 150.000 students in the heart of The Matrix.
      </p>
    </div>
    <img
      data-aos="flip-left"
      data-aos-duration="2500"
      loading="lazy"
      src="../../../assets/HU_image.webp"
    />
  </div>
  <div class="box reverse">
    <div
      class="box-col"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="600"
      data-aos-offset="0"
    >
      <p>Now, <strong>Step 2</strong> is The Real World.</p>
      <p>And what is it about?</p>
      <p><strong>MASS EXODUS</strong>.</p>
      <p>
        We offer you the chance to join us and break free from the Matrix in an
        entirely new and independent platform.
      </p>
      <p>
        We call this place The Real World, a safe harbor for ambitious
        individuals aspiring for financial freedom and eager to learn from us.
      </p>
    </div>
    <img
      data-aos="flip-right"
      data-aos-duration="2500"
      loading="lazy"
      src="../../../assets/tate2.webp"
    />
  </div>
  <button>
    <a onclick="window.location.href='#real-world-2'">JOIN NOW</a>
  </button>
</div>
