<div class="container">
  <div id="what-is-the-real-world" class="the-world-box">
    <h2>THE CHOICE IS YOURS</h2>
    <div class="box" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">The Matrix
      wants you poor, weak, alone, and
      complacent.
    </div>
    <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">It's time to wake up, Neo.
    </div>
    <div class="box" data-aos="fade-right" data-aos-duration="4000">We are opening a mass portal to escape slavery.
    </div>
    <div class="box" data-aos="fade-right" data-aos-duration="5000">We've spent months developing our fully
      independent platform with our own app, servers, payment processors, banks, and infrastructure.</div>
    <div class="box" data-aos="fade-right" data-aos-duration="6000">We want you to become
      wealthy, strong,
      well-connected, and FREE.</div>
    <button onclick="window.location.href='#the-choice-is-yours'">JOIN NOW</button>
  </div>


</div>
