<div class="container">
  <div id="what-is-the-real-world" class="the-world-box">
    <h2>WHAT IS <br> THE REAL WORLD?</h2>
    <div class="box" data-aos="fade-up-left" data-aos-duration="1000">The Real World is a global community of
      like-minded
      individuals striving to
      acquire
      an abundance of wealth.
    </div>
    <div class="box" data-aos="fade-up-right" data-aos-duration="1000">We provide our members with advanced education
      and
      mentoring from
      multimillionaire
      experts.</div>
    <div class="box" data-aos="fade-up-left" data-aos-duration="1000">Our fully independent learning platform is
      designed
      to break people free
      from the
      Matrix.</div>
    <button onclick="window.location.href='#the-choice-is-yours'">JOIN NOW</button>
  </div>


</div>
