<div class="container">
  <div class="box">
    <h2>FAQ</h2>
    <div class="question-box">
      <em (click)="showText(0)">
        <strong>"How quickly will I make my money back?"</strong>
        <img
          class="img"
          src="https://uploads-ssl.webflow.com/6331a1b1671767ba6bf8b8d6/6332110e83ef2d444b0a6b23_Interface%20Add%201%20by%20Streamlinehq.svg"
      /></em>
      <p class="text" [hidden]="hideText">
        It depends on how seriously you take HU.
      </p>
    </div>
    <div class="question-box">
      <em (click)="showText(0)">
        <strong>“Do I need money to start?”</strong>
        <img
          class="img"
          src="https://uploads-ssl.webflow.com/6331a1b1671767ba6bf8b8d6/6332110e83ef2d444b0a6b23_Interface%20Add%201%20by%20Streamlinehq.svg"
      /></em>
      <p class="text" [hidden]="hideText">
        Not necessarily. <br />
        A lot of our students chose copywriting and freelancing, which are
        <br />
        businesses without money requirements.
      </p>
    </div>
  </div>
</div>
