<div class="container">
  <div class="box">
    <h2>FAQ</h2>
    <div class="question-box">
      <em (click)="showText(0)">
        <strong>"How quickly will I make my money back?"</strong>
        <img
          class="img"
          src="https://uploads-ssl.webflow.com/6331a1b1671767ba6bf8b8d6/6332110e83ef2d444b0a6b23_Interface%20Add%201%20by%20Streamlinehq.svg"
      /></em>
      <p class="text" [hidden]="hideText">
        It depends on how seriously you take HU.
      </p>
    </div>
    <div class="question-box">
      <em (click)="showText(0)">
        <strong>“Do I need money to start?”</strong>
        <img
          class="img"
          src="https://uploads-ssl.webflow.com/6331a1b1671767ba6bf8b8d6/6332110e83ef2d444b0a6b23_Interface%20Add%201%20by%20Streamlinehq.svg"
      /></em>
      <p class="text" [hidden]="hideText">
        Not necessarily. <br />
        A lot of our students chose copywriting and freelancing, which are
        <br />
        businesses without money requirements.
      </p>
    </div>

    <div class="question-box">
      <em (click)="showText(0)">
        <strong>“Does my age really not matter?”</strong>
        <img
          class="img"
          src="https://uploads-ssl.webflow.com/6331a1b1671767ba6bf8b8d6/6332110e83ef2d444b0a6b23_Interface%20Add%201%20by%20Streamlinehq.svg"
      /></em>
      <p class="text" [hidden]="hideText">
        It really doesn’t. <br />
        <br />
        Instead of getting the newest videogame just to find it boring in a
        week, you can shock your friends and family by becoming the kid who’s
        leveling up in real life.
      </p>
    </div>

    <div class="question-box">
      <em (click)="showText(0)">
        <strong
          >“I know nothing about the skills you teach. Is it a problem?”</strong
        >
        <img
          class="img"
          src="https://uploads-ssl.webflow.com/6331a1b1671767ba6bf8b8d6/6332110e83ef2d444b0a6b23_Interface%20Add%201%20by%20Streamlinehq.svg"
      /></em>
      <p class="text" [hidden]="hideText">
        Of course not. <br />
        <br />
        This is a mentoring program, and you are here to learn from us. <br />
        <br />
        Just follow our step-by-step lessons and guidance, and you will start a
        profitable business.
      </p>
    </div>

    <div class="question-box">
      <em (click)="showText(0)">
        <strong
          >“I don't have a lot of time available, can I still apply?”</strong
        >
        <img
          class="img"
          src="https://uploads-ssl.webflow.com/6331a1b1671767ba6bf8b8d6/6332110e83ef2d444b0a6b23_Interface%20Add%201%20by%20Streamlinehq.svg"
      /></em>
      <p class="text" [hidden]="hideText">
        Rule #1 of The Real World is SPEED. <br />
        <br />
        The methods we teach are designed for rapid execution. <br />
        <br />
        So all you need is a minimum of 30 minutes a day to listen to your
        <br />
        professors and apply what you’ve learned.
      </p>
    </div>
  </div>
</div>
